@import "colors.css";

* {
    font-family: "SF Pro Display", "GeistMono Nerd Font Propo";
    font-weight: 500;
}
tooltip {
    border: 1px solid @surface0;
    background-color: @base;
}
tooltip label {
    font-weight: 500;
    color: @text;
}
#tray menu {
    font-weight: 500;
    color: @text;
    border: 1px solid @surface0;
    background-color: @base;
}
#tray menu label {
    font-weight: 500;
    color: @text;
}

window#waybar {
    border-radius: 5px;
    background: @base;
}


#custom-arch {
    margin: 3px;
    margin-left: 15px;
    margin-right: 10px;
    font-size: 17;
    color: @mauve;
}
#workspaces {
    margin: 5px;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: @surface0t;
}
#workspaces button {
    padding: 0;
    padding-bottom: 1px;
    min-width: 26px;
    border-radius: 0;
    font-size: 15;
    color: @mauve;
}
#workspaces button.empty {
    color: @subtext1;
}
#workspaces button.visible {
    padding-bottom: 0;
    color: @mauve;
    border-bottom: 2px solid @mauve;
}
#workspaces button.urgent {
    color: @red;
}


#custom-play-pause {
    margin: 5px;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 5px;
    min-width: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: @surface0;
}
#custom-backwards {
    margin: 5px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 5px;
    padding-right: 5px;
    background-color: @surface0;
}
#custom-forward {
    margin: 5px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 5px;
    padding-right: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: @surface0;
}
#mpris {
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    border-radius: 5px;
    font-size: 15;
    color: @mauve;
    background-color: @surface0t;
}
#mpris.paused {
    color: @subtext0;
}


#tray {
    margin: 5px;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: @surface0t;
}
#language {
    margin: 5px;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
    min-width: 20px;
    border-radius: 5px;
    font-size: 15;
    color: @subtext0;
    background-color: @surface0t;
}
#clock {
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
    border-radius: 5px;
    font-size: 15;
    color: @subtext0;
    background-color: @surface0t;
}
#custom-power {
    margin: 3px;
    margin-left: 10px;
    margin-right: 15px;
    font-size: 17;
    color: @mauve;
}